@media screen and (max-width: 1200px) {
    
    /* NAVBAR SECTION */

    .navbox ul li {
        display: none;
    }

    .navbox{
        display: flex;
        align-items: center;
    }

    .hamburgerIcon{
        display: block;
        border: 2px solid white;
        background-color: rgb(54, 60, 62);
        margin: auto;
        padding: 0.3em 0.5em;
        border-radius: 0.1em;
        cursor: pointer;
    }

    .hamburgerIcon:hover{
        background-color: black;
    }
    
    .listItems{
        display: block;
        text-align: center;
        background-color: rgb(212, 212, 212);
        color: black;
        border-bottom: 1px solid rgb(146, 146, 146);
        text-align: center;
        padding: 1em 0em;
        font-weight: 500;
    }

    .listItems:hover{
        background-color: rgb(145, 145, 145);
        color: white;
    }

    #options{  
        width: 100%;
        display: none;
    }

    #options a{
        text-decoration: none;
        color: black;
    }

    /* COMPANY SECTION */

    .logoSection{
        margin-bottom: 7em;
    }

    .specialize{
        font-size: 1.4em;
        font-weight: 500;
    }

    #subscribe-mail{
        padding: 0.42em 1em;
    }

    /* ABOUT SECTION */

    .about-section{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 3em 1em;
    }
    
    .left-align{
        margin: 0;
    }
    
    .about-company{
        padding-top: 1em;
    }
    
    .chart img{
        width: 100%;
        height: auto;
        padding-top: 2em;
    }

    /* OUR VALUES SECTION*/

    .our-values-section{
        display: flex;
        flex-direction: column;
        border-radius: 8em 0em 8em 0em;
        padding: 0em 1em;
    }
    
    .growth{
        margin: 7em 0em 0em 0em;
    }

    .right-align{
        margin: 0em 0em 5em 0em;
    }

}

@media screen and (max-width: 1200px) and (min-width: 600px) {
    
    .growth img{
        width: 40vw;
    }
}

@media screen and (max-width: 599px){
    
    .growth img{
        width: 60vw;
    }
}

